body {
  font-family: "Tangerine", serif;
  background: #eeeeee;
  color: #555555;
  margin: 0;
  padding: 0;
}

.main-content {
  margin: 0px 50px;
  padding: 20px;
  background: white;
}

.code-input {
  display: block;
  font-size: 30px;
  margin: 15px 0px;
  width: 100%;
}

.code-confirm {
  width: 100%;
  border: none;
  font-size: 28px;
  color: #444444;
  padding: 10px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 40px;
}

#next-step {
  display: none;
}

.reveal {
  display: block !important;
}

.hide {
  display: none !important;
}
